<div class="accesibility-options">
  <div class="letter-options">
    <div class="field--name-node-print">
      <input onclick="window.print();" class="button-print no-print button js-form-submit form-submit btn btn-primary" type="submit" name="op" value="Print Me">
    </div>
    {{ drupal_block('text_resize_block') }}
  </div>
  {{ drupal_block('social_sharing_block') }}
</div>
