<div class="modal-login-top">
  {{ drupal_block('block_content:25e6ab13-2d5e-47fc-ad61-d389c7cd92e0') }}
  <a href="/pacientes" class="btn btn-link icn-back">Volver al inicio de pacientes</a>
</div>
<div class="modal-login-content">
  <div class="modal-login-left">
    {{ form }}
  </div>
  <div class="modal-login-right">
    {{ drupal_block('revive_adserver_zone_block', { zone_id: 159, invocation_method: 'iframe' }) }}
  </div>
</div>
