<div class="order-completed-footer">
  Estimado asociado, hemos recibido su pago. Revisaremos los detalles de la transacción antes de actualizar el estado de su afiliación o despachar su pedido. </br>
  Si después de pasados 3 días calendario no ha recibido respuesta de algún funcionario de AsoColDerma, por favor ponerse en contacto con:
  <a href="mailto:acdermatologia@asocolderma.com">acdermatologia@asocolderma.com</a> o al número y WhatsApp: <a href="tel:+573187114973">+57 3187114973</a>
</div>
