<div class="dropdown">
  <button class="btn-notifications dropdown-toggle" type="button" id="user-notifications" data-bs-toggle="dropdown" aria-expanded="false">
    {{ icon }}
  </button>
  <div class="dropdown-menu" aria-labelledby="user-notifications">
    {{ list }}
  </div>
</div>
