@font-face {
    font-family: 'Trebuchet MS';
    src: url('TrebuchetMS-Italic.woff2') format('woff2'),
        url('TrebuchetMS-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('TrebuchetMS.woff2') format('woff2'),
        url('TrebuchetMS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

