@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ciqnz3');
  src:  url('fonts/icomoon.eot?ciqnz3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ciqnz3') format('truetype'),
    url('fonts/icomoon.woff?ciqnz3') format('woff'),
    url('fonts/icomoon.svg?ciqnz3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Arrow-down:before {
  content: "\e900";
}
.icon-Arrow-left-long:before {
  content: "\e901";
}
.icon-Arrow-left:before {
  content: "\e902";
}
.icon-Arrow-right-long:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-youtube:before {
  content: "\e905";
}
.icon-print:before {
  content: "\e906";
}
.icon-left-square:before {
  content: "\e907";
}
.icon-linkedin:before {
  content: "\e908";
}
.icon-location:before {
  content: "\e909";
}
.icon-message:before {
  content: "\e90a";
}
.icon-right-square:before {
  content: "\e90b";
}
.icon-tel:before {
  content: "\e90c";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-whatsapp:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e90f";
}
.icon-facebook:before {
  content: "\e910";
}
.icon-doble-left-arrow:before {
  content: "\e911";
}
.icon-down-arrow:before {
  content: "\e912";
}
.icon-eye:before {
  content: "\e913";
}
.icon-camera:before {
  content: "\e914";
}
.icon-play:before {
  content: "\e915";
}
.icon-checked:before {
  content: "\e916";
}
.icon-top-arrow:before {
  content: "\e917";
}
.icon-twitter:before {
  content: "\e918";
}
.icon-doctor:before {
  content: "\e919";
}
.icon-home-button:before {
  content: "\e91a";
}
.icon-star:before {
  content: "\e91b";
}
.icon-search-black:before {
  content: "\e91c";
}
.icon-question:before {
  content: "\e91d";
}
.icon-mark:before {
  content: "\e91e";
}
.icon-calendar-2:before {
  content: "\e91f";
}
.icon-responsive:before {
  content: "\e920";
}
.icon-uniE910:before {
  content: "\e921";
}
.icon-arrows-right:before {
  content: "\e922";
}
.icon-config:before {
  content: "\e923";
}
.icon-cart:before {
  content: "\e924";
}
.icon-bell:before {
  content: "\e925";
}
.icon-money:before {
  content: "\e926";
}
.icon-close-2:before {
  content: "\e927";
}
.icon-check-circle:before {
  content: "\e928";
}
.icon-open:before {
  content: "\e929";
}
.icon-arrow-select:before {
  content: "\e92a";
}
.icon-arrows-down:before {
  content: "\e92b";
}
.icon-excel:before {
  content: "\e92c";
}
.icon-pdf:before {
  content: "\e92d";
}
.icon-question-mark:before {
  content: "\e92e";
}
.icon-info-mark:before {
  content: "\e92f";
}
.icon-close-bold:before {
  content: "\e930";
}
.icon-dr:before {
  content: "\e931";
}
.icon-pin:before {
  content: "\e932";
}
.icon-city:before {
  content: "\e933";
}
.icon-target:before {
  content: "\e934";
}
.icon-portfolio:before {
  content: "\e935";
}
.icon-signal:before {
  content: "\e936";
}
.icon-add-photo:before {
  content: "\e937";
}
.icon-envelope:before {
  content: "\e938";
}
.icon-doc:before {
  content: "\e939";
}
.icon-picture:before {
  content: "\e93a";
}
.icon-sound:before {
  content: "\e93b";
}
.icon-tv:before {
  content: "\e93c";
}
.icon-check:before {
  content: "\e93d";
}
.icon-arrows-up:before {
  content: "\e93e";
}
.icon-dr-right:before {
  content: "\e93f";
}
.icon-dr-left:before {
  content: "\e940";
}
.icon-nurse:before {
  content: "\e941";
}
.icon-user:before {
  content: "\e942";
}
.icon-cloud:before {
  content: "\e943";
}
.icon-chart:before {
  content: "\e944";
}
.icon-newspaper:before {
  content: "\e945";
}
.icon-comment:before {
  content: "\e946";
}
.icon-heart:before {
  content: "\e947";
}
.icon-share:before {
  content: "\e948";
}
.icon-play-button:before {
  content: "\e949";
}
.icon-document:before {
  content: "\e94a";
}
.icon-twitter-new:before {
  content: "\e94b";
}
