.path-micrositios{
    .body-content{
        box-shadow: none;
        padding: 0;
    }
}
.view-microsites{
    .view-filters{
        max-width: 360px;
        margin: 0 auto 10px;
        width: 100%;
    }
    .view-content{
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        padding: 0 2rem;
    }
    .views-row{
        border-bottom: 1px solid var(--main-color);
        margin-bottom: 1rem;
        padding-bottom: 2rem;
        &:last-child{
            border-bottom: 0;
        }
        .layout__region{
            &--top{
                font-family: $font-secondary;
                font-size: 1.6rem;
                padding: 1rem 0;
                text-align: center;
            }
            &--first{
                img{
                    display: block;
                    height: auto;
                    width: 100%;
                }
            }
            &--second{
                .field--name-node-title{
                    h2{
                        font-size: 1.7rem;
                        line-height: 2.2rem;
                        margin-bottom: 1rem;
                        text-transform: uppercase;
                        a{
                            color:color(grayscale, black);
                        }
                    }
                }
                .field--name-body{
                    font-size: 1.5rem;
                    h4{
                        font-size: 1.5rem;
                        font-weight: normal;
                    }
                }
                .field--name-read-more-external-link,
                .field--name-node-link {
                    margin-bottom: 1rem;
                    margin-top: 2rem;
                    text-align: right;
                    a{
                        @extend %btn-outline-arrow;
                        font-size: 1.3rem;
                        padding: .4rem 1rem;
                    }
                }
            }
        }
    }
}