form{
    p.error{
        color:red;
        font-size: 1.4rem;
        margin:.3rem 0 0;
    }
    label{
        display: block;
        font-weight: bold;
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    @include placeholder('input', color(secondary, 500), normal, 1.6rem);
    @include placeholder('textarea', color(secondary, 500), normal, 1.6rem);
    .form-control,
    input{
        @include prefix(appearance,none, webkit moz o ms);
        background: color(backgrounds,400);
        border: 0;
        border-radius: 0;
        box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
        font-size: 16px;
        height: 2.6rem;
        outline: none;
        padding: 0 1.2rem;
        width: 100%;
        &:hover,
        &:focus{
            background-color: color(backgrounds,400);
            box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
            outline: none;
        }
        &[type="checkbox"]:not(.form-check-input){
            border:0;
            border-radius: 0;
            box-shadow: inset 4px 4px 2px 0px rgba(0, 0, 0, 0.2);
            height: 2rem;
            outline: none;
            width: 2rem;
            &:checked{
                background: color(backgrounds,300) url('../assets/images/icons/check.svg') no-repeat center;
                background-size: 1.3rem;
                border:0;
                outline: none;
            }
            &:focus,
            &:hover{
                outline: none;
            }
        }
        &.error{
            border-color:red;
        }
        &[type="radio"]{
            border-radius: 100%;
            box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
            height: 2rem;
            position: relative;
            width: 2rem;
            &:checked{
                border-color: var(--main-color);
                &:after{
                    opacity: 1;
                }
            }
            &:after{
                background: color(tertiary,500);
                border-radius: 100%;
                content: '';
                display: block;
                height: 1rem;
                left: 50%;
                opacity: 0;
                position: absolute;
                transform: translate(-50%,-50%);
                top: 50%;
                width: 1rem;
            }
        }
    }
    .form-check-input[type=checkbox]{
        border-radius: 0;
    }
    .field--type-datetime {
        .label,
        label,
        .form-item{
            display: block;
        }
    }
    .form-type-checkbox {
        .form-switch{
            align-items: center;
            display: flex;
            padding: 1rem 0;
            position: relative;
            &.form-check{
                label{
                    max-width: 73%;
                }
            }
            label{
                margin:0 2rem 0 0;
                min-width: 230px;
                order:1;
                padding-right: 3rem;
                position: relative;
                &:after{
                    content: "NO";
                    font-size: 1.5rem;
                    position: absolute;
                    right: 0;
                    transform: translateY(-50%);
                    top: 50%;
                }
                &:before{
                    content: "SI";
                    font-size: 1.5rem;
                    font-weight: bold;
                    right: -8rem;
                    order:2;
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                }
            }
            .form-check-input{
                order:3;
                &[type=checkbox]{
                    background-image: url("../assets/images/icons/switch.svg");
                    background-position: left center;
                    background-size: cover;
                    border:0;
                    box-shadow: none;
                    transition: background-position 0.15s ease-in-out;
                    margin:0 3rem 0 0;
                    width: 3rem;
                    &:checked{
                        background-image: url("../assets/images/icons/switch.svg");
                        background-position: right center;
                        background-size: cover;
                        box-shadow: none;
                    }
                }
            }
        }
        .form-check-input{
            &[type=checkbox]{
                border-radius: 0;
                &:checked{
                    background: color(backgrounds,400) url('../assets/images/icons/check.svg') no-repeat center;
                    background-size: 1.3rem;
                    box-shadow: inset 4px 4px 2px 0px rgba(0, 0, 0, 0.2);
                    border:0;
                    border-radius: 0;
                    outline: none;
                }
            }
        }
    }
    .form-type-radio {
        align-items: center;
        display: flex;
        label{
            margin:0 0 0 1rem;
            max-width: calc(100% - 2.5rem);
        }
    }
    .form-type-select{
        select{
            @include prefix(appearance,none, webkit moz o ms);
            background: url('../assets/images/background/selects.png') no-repeat  color(grayscale,white);
            background-position: right center;
            font-size: 1.6rem;
            padding: 0 12px;
            padding-right: 30px;
            width: 100%;
            &:hover,
            &:focus{
                outline: none;
            }
        }
    }
    .form-group{
        margin-bottom: 0;
    }
    .field{
        padding-bottom: .5rem;
        position: relative;
        &:before{
            content: none;
        }
        &.field--name-total-price{
            padding: 1rem;
            .order-total-line-value{
                width: auto;
            }
        }
        input,textarea,select{
            z-index: 1;
            position: relative;
        }
    }
    .form-textarea{
        .field{
            &:before{
                border-radius: 8px;
            }
        }
    }
    .form-check{
        padding: 0;
        .field{
            display: flex;
            flex-wrap: wrap;
            &:before{
                border-radius: 8px;
                height: calc(3rem - .2rem);
                top:.5rem;
                width: 3rem;
            }
        }
        &.form-radios{
            align-items: center;
            .field{
                &::before{
                    border-radius: 100%;
                }
            }
        }
        label{
            font-size: 1.4rem;
            line-height: 1.8rem;
            margin-left: 1rem;
            max-width: 80%;
            text-transform: inherit;
        }
        a{
            color:color(grayscale,500);
            text-decoration: underline;
        }
    }
    textarea{
        background: color(backgrounds,400);
        border:1px solid color(secondary,500);
        border-radius: 8px;
        display: block;
        min-height: 40px;
        width: 100%;
        padding: 1.5rem;
    }
    .form-actions{
        display: flex;
        justify-content: center;
    }
    .geolocation-map-controls{
        align-items: flex-end;
        display: flex;
        margin-bottom: 2rem;
        .geolocation-map-control {
            margin:0;
        }
        .control_geocoder{
            margin-left: 0;
            margin-right: 1rem;
            width: calc(100% - 4rem);
            label{
                display: block;
            }
            input{
                box-sizing: border-box;
                box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
                width: 100%;
            }
        }
        .control_recenter{
            button{
                background: transparent;
                border:1px solid color(grayscale,600);
                box-shadow: none;
            }
        }
    }
}
.toolbar-horizontal{
    form {
        .form-actions{
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap:1.6rem;
        }
    }
}
.captcha{
    .captcha__title{
        display: none;
    }
}
.g-recaptcha{
    display: flex;
    justify-content: center;
    margin:1rem 0;
}
.field--type-comment{
    margin-top: 4rem;
    .title{
        font-size: 2rem;
        line-height: inherit;
        text-align: center;
    }
}

.captcha{
    text-align: center;
    img{
        display: block;
        margin:0 auto;
    }
}
.ui-autocomplete{
    li{
        a{
            border:0;
            border-bottom: 1px solid color(grayscale,600);
            color:color(grayscale,black);
            display: block;
            font-size: 1.3rem;
            padding: 1.2rem 1rem;
            text-decoration: none;
            &:hover,
            &:focus{
                background: color(backgrounds,400);
                border: 1px solid color(grayscale,600);
                color:color(grayscale,black);
            }
        }
    }
}
.commerce-checkout-flow{
    .form-wrapper{
        .form-item{
            display: block;
            width: 100%;
        }
    }
}
.body-content{
    .view-filters{
        .views-exposed-form{
            padding: 2rem 1.5rem 2rem 1rem;
            .form-item{
                display: block;
                float: none;
                width: 100%;
            }
            .form-actions{
                .btn{
                    width: auto;
                }
            }
        }
    }
    .view-skin-illness {
        .attachment{
            padding: 0 .5rem;
        }
        .view-filters{
            .views-exposed-form{
                .form-checkboxes{
                    display: flex;
                    flex-wrap: wrap;
                    gap:1.6rem;
                    .form-type-checkbox{
                        width: auto;
                    }
                }
            }
        }
    }
}
@include mq-min(md){
    .body-content{
        .view-filters{
            .views-exposed-form{
                .form--inline{
                    display: flex;
                    flex-direction: row;
                }
                .form-item{
                    margin-top: 0;
                }
                .form-actions{
                    margin:0;
                    .btn{
                        margin-top: 3.2rem;
                    }
                }
            }
        }
        .view-skin-illness{
            .view-filters {
                .views-exposed-form {
                    .form--inline{
                        flex-wrap: wrap;
                        .js-form-item-enfermedad,
                        .js-form-item-buscar{
                            width: 49%;
                        }
                        .js-form-item-enfermedad{
                            margin-right: 0;
                        }
                        .form-actions{
                            text-align: center;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .commerce-checkout-flow{
        .form-wrapper{
            &.address-container-inline {
                display: flex;
                flex-wrap: wrap;
                gap: 1.6rem;
                .form-item{
                    display: block;
                    width: calc(50% - 1.6rem);
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
}